
.container{
  position:absolute;
  height:1000px;
  width:1000px;
  background-color: rgba(19, 208, 66, 0.5)
}
.box1{
  height:100px;
  width:100px;
  margin:10px;
  background-color: rgb(40, 242, 11);
  border:  1px solid black;
  position: relative;
}
.diamond{
  position:relative;
  height:100px;
  width:100px;
  margin:10px;
  background-color: rgb(127, 181, 94);
  border:  1px solid black;
  transform: rotate(45deg);
  transform-origin: 0 100%;
}
  .table{
    position: sticky;
    position: relative;
    border: 1px solid black;
    background-color: rgb(19, 236, 145);
    position:relative;
    grid:1px solid black;
    margin-left: 35%;
    margin-bottom:55%;
  }
  td:hover{
    height:75px;
    width:75px;
    background-color: rgb(170, 137, 20);
    transition-duration: 1s;
  }
td{
  height:50px;
  width:50px;
  background-color:rgb(24, 127, 214);
  transition-duration: 1s;

}
table{
  margin-right: 250px;
  margin-bottom: 250px;
  margin-top: 50px;
}
